<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="width=device-width, intitial-scale=1.0">
    <link rel="stylesheet" href='../static/mystyle.css' />
    <title>Ambient Monitoring System</title>
</head>

<body></body>
    <h1>Ambient Monitoring System</h1>
    <div class="sidenav">
        <a href="/">Main Page</a>
        <a href="/temp">Temperature</a>
        <a href="/hum">Humidity</a>
        <a href="#">Gas</a>
      </div>
      <div class="main">
    
                <h2>Temperature is: {{temp}} °C</h2>
                <h2>Humidity is: {{hum}} %</h2>
                <h2>Gas: </h2>

    

</div>



</body>

</html>